___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b: return a
        else: return b
    else:
        if a<b: return b
        else: return a

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    animal=text.split()
    if animal[0][0] == animal[1][0]: return True
    else: return False

In [7]:
# Check
animal_crackers('Levelheaded Llama')

True

In [8]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
    sum = n1 + n2
    if sum==20 or (n1 or n2)==20: return True
    else: return False

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [20]:
def old_macdonald(name):
    name1=name[0:3]
    name2=name[3:]
    return name1.capitalize() + name2.capitalize()

In [21]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [29]:
def master_yoda(text):
    words = text.split()
    reversed_words = words[::-1]
    return " ".join(reversed_words)

In [30]:
# Check
master_yoda('I am home')

'home am I'

In [31]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [34]:
def almost_there(n):
    target = (100,200)
    if abs(n-target[0])<=10: return True
    elif abs(n-target[1])<=10: return True
    else: return False

In [35]:
# Check
almost_there(104)

True

In [36]:
# Check
almost_there(150)

False

In [37]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [54]:
def has_33(nums):
    for num in range(len(nums)-1):
        if nums[num]==3 and nums[num+1]==3: return True
        else: return False

In [55]:
# Check
has_33([1, 3, 3])

False

In [56]:
# Check
has_33([1, 3, 1, 3])

False

In [57]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [68]:
def paper_doll(text):
    texts = ''
    for i in text:
        texts += i * 3
    return texts

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [69]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [70]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [81]:
def blackjack(a,b,c):
    total = a + b + c
    if total <= 21: return total
    elif total >21 and 11 in (a,b,c):
        return total-10
    else: return 'BUST'

In [82]:
# Check
blackjack(5,6,7)

18

In [83]:
# Check
blackjack(9,9,9)

'BUST'

In [84]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [88]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        if num == 6: add = False
        elif num == 9: add = True
        elif add == True: total += num
    return total

In [89]:
# Check
summer_69([1, 3, 5])

9

In [90]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [91]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [97]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]: code.pop(0)
    return len(code) == 1

In [98]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [99]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [100]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [101]:
def count_primes(num):
    if num < 2:
        return 0

    # create a boolean array indicating whether each number up to num is prime
    is_prime = [True] * (num + 1)
    is_prime[0] = False
    is_prime[1] = False

    # use the Sieve of Eratosthenes algorithm to mark non-prime numbers
    for i in range(2, int(num ** 0.5) + 1):
        if is_prime[i]:
            for j in range(i ** 2, num + 1, i):
                is_prime[j] = False

    # count the number of prime numbers
    count = 0
    for i in range(2, num + 1):
        if is_prime[i]:
            count += 1

    return count

In [102]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [103]:
def print_big(letter):
    letters = {
        'A': ['01110', '10001', '10001', '11111', '10001'],
        'B': ['11110', '10001', '11110', '10001', '11110'],
        'C': ['01110', '10001', '10000', '10001', '01110'],
        'D': ['11100', '10010', '10001', '10010', '11100'],
        'E': ['11111', '10000', '11110', '10000', '11111'],
        'F': ['11111', '10000', '11110', '10000', '10000'],
        'G': ['01110', '10001', '10000', '10111', '01110'],
        'H': ['10001', '10001', '11111', '10001', '10001'],
        'I': ['01110', '00100', '00100', '00100', '01110'],
        'J': ['00001', '00001', '00001', '10001', '01110'],
        'K': ['10010', '10100', '11000', '10100', '10010'],
        'L': ['10000', '10000', '10000', '10000', '11111'],
        'M': ['10001', '11011', '10101', '10001', '10001'],
        'N': ['10001', '11001', '10101', '10011', '10001'],
        'O': ['01110', '10001', '10001', '10001', '01110'],
        'P': ['11110', '10001', '11110', '10000', '10000'],
        'Q': ['01110', '10001', '10001', '10101', '01111'],
        'R': ['11110', '10001', '11110', '10100', '10010'],
        'S': ['01110', '10001', '01100', '00010', '11100'],
        'T': ['11111', '00100', '00100', '00100', '00100'],
        'U': ['10001', '10001', '10001', '10001', '01110'],
        'V': ['10001', '10001', '01010', '01010', '00100'],
        'W': ['10001', '10001', '10101', '11011', '10001'],
        'X': ['10001', '01010', '00100', '01010', '10001'],
        'Y': ['10001', '01010', '00100', '00100', '00100'],
        'Z': ['11111', '00010', '00100', '01000', '11111']
    }

    letter = letter.upper() # convert the letter to uppercase
    if letter not in letters:
        return 'Invalid letter'

    # return the 5x5 representation of the letter
    return '\n'.join(letters[letter])

In [104]:
print_big('a')

'01110\n10001\n10001\n11111\n10001'

## Great Job!